
p.shine
{
    font-size: 3em;
    margin: 0 auto;
    width: 700px;
}

.shine
{
    width: 200px;
    font-size: x-large;
   
   display: inline-flex;
    
    border: 2px solid #1C6EA4;
    border-radius: 4px;
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    
    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}

.delete{
    margin-left: 15px;
    background-color: brown;
    border-radius: 5px;
    width: 80px;
    height: 40px;
}
